.Board {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 60%;
  position: relative;
}

.tile {
  stroke: rgb(187, 204, 216);
  fill: rgb(225, 242, 255);
}

.tileSquare {
  fill: rgb(184, 196, 219);
}

.tileEgg {
  stroke: rgb(139, 87, 87);
  stroke-width: 2px;
}